
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log
.env
.venv/
env/
venv/

db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

.env
.env.*

.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db

**/migrations/*.py
!**/migrations/__init__.py

